<div class="row">
    <div class="checkbox">
        <label for="item-{{item.id}}" (click)="toggle(item)">
            <i class="fa fa-check-circle-o"
               [ngClass]="{'uncheck': item.completed, 'check': !item.completed}"></i>
            <input type="checkbox"
                   id="item-{{item.id}}"
                   [checked]="item.completed"
                   class="d-none"
            >
        </label>
    </div>
    <div class="col-8 info">
        <div class="title">{{item.todo}}</div>
        <div class="desc">{{item.desc}}</div>
    </div>
    <div class="col-2 extra-info">
        <div>{{item.info}}</div>
        <div class="badge badge-danger">{{item.state}}</div>
    </div>
    <div class="col-1 avatar">
        <img src="assets/img/image_2.png" class="img-fluid">
    </div>
</div>